

sel {
  background-color: rgb(167, 174, 172);
  color: #311f2f;
  font-size: larger;
  border-color: black;
  border: 50px;
color:#311f2f;
 
}
.put { 

margin-left: 15%; 
margin-right: 25%;
padding-left: 10%;
}
.title{margin-left: 25%;
color: rgb(40, 66, 25);

}
.error{
color: rgb(237, 14, 14);
font-size:medium;
font-style: oblique;
font-family: sans-serif;
background-color: rgba(147, 147, 149, 0.384);
